button{
    cursor: pointer;
    outline:none;
    font-size: 18px;
    line-height: 151%;
    font-weight: 300;
    font-family: $font-family;
    background-color: $color-primary;
    border: none;
    border-radius: 500px;
    color: white;
    padding:0.5rem 1rem;
    transition: all 0.3s;

    &:hover{
        color: #1dce94;
        background-color: white;
    }
    &.hamburger:hover {
        color: white;
        background-color: transparent;
    }

    &:active{
        background-color: #cbcbcb;
    }

    &.primary {
        width: 202px;
        height: 58px;

        &.header {
            background-color: #271F57;
        }

        &:hover{
            color: $color-tertiary;
            background-color: $color-secondary;
        }
    }

    &.secondary {
        color: $color-primary;
        font-family: 'FavoritMono', serif;
        font-size: 16px;
        line-height: 161%;
        background-color: white;
        border: 2px solid $color-primary;
        border-radius: 2px;
        width: 130px;
        padding: 0.1rem 1rem;
        
        &:hover{
            color: $color-tertiary;
            background-color: $color-primary;
        }
    }
}