button{
    cursor: pointer;
    outline:none;
    font-weight: 300;
    background-color: #1dce94;
    border: none;
    border-radius: 500px;
    color: white;
    padding:0.5rem 1rem;
    transition: all 0.3s;

    &:hover{
        color: #1dce94;
        background-color: white;
    }
    &.hamburger:hover {
        color: white;
        background-color: transparent;
    }

    &:active{
        background-color: #cbcbcb;
    }
    &.primary {
        // width: 202px;
        // height: 58px;

        &.header {
            background-color: #271F57;
        }

        &:hover{
            color: $color-tertiary;
            background-color: $color-secondary;
        }
    }

    &.secondary {
        color: $font-color;
        font-family: $font-family;
        // font-size: 16px;
        // line-height: 161%;
        background-color: transparent;
        border: 2px solid $font-color;
        // border-radius: 2px;
        // width: 130px;
        // padding: 0.1rem 1rem;
        
        &:hover{
            color: $color-tertiary;
            background-color: $color-secondary;
            border-color: $color-secondary;
        }

        &.light {
            border: 2px solid white;
            color: white;

            &:hover{
                color: $color-secondary;
                border-color: $color-secondary;
                background-color: white;
            }
        }
    }
}