$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

// @font-face {
//     font-family: 'MyWebFont';
//     src: url('webfont.eot'); /* IE9 Compat Modes */
//     src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
//          url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
//          url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//          url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

<<<<<<< HEAD
// @font-face {
//     font-family: 'MyWebFont';
//     src: url('myfont.woff2') format('woff2'),
//          url('myfont.woff') format('woff'),
//          url('myfont.ttf') format('truetype');
// }

=======
>>>>>>> 9fc793821e4a5858063f7243c0c9834cf479994c
/** 
 * Tiempos Headline Fonts
 */
// @font-face {
//     font-family: "TiemposHeadline";
//     src: url("/assets/fonts/TiemposHeadlineWeb-Regular.eot") format('eot'),
//         url("/assets/fonts/TiemposHeadlineWeb-Regular.woff2") format('woff2'),
//         url("/assets/fonts/TiemposHeadlineWeb-Regular.woff") format('woff');
//     font-weight: normal;
// }
// @font-face {
//     font-family: "TiemposHeadline";
//     src: url("/assets/fonts/TiemposHeadlineWeb-Medium.eot") format('eot'),
//         url("/assets/fonts/TiemposHeadlineWeb-Medium.woff2") format('woff2'),
//         url("/assets/fonts/TiemposHeadlineWeb-Medium.woff") format('woff');
//     font-weight: 500;
// }
// @font-face {
//     font-family: "TiemposHeadline";
//     src: url("/assets/fonts/TiemposHeadlineWeb-Bold.eot") format('eot'),
//          url("/assets/fonts/TiemposHeadlineWeb-Bold.woff2") format('woff2'),
//          url("/assets/fonts/TiemposHeadlineWeb-Bold.woff") format('woff');
//     font-weight: bold;
// }
// @font-face {
//     font-family: "TiemposHeadline";
//     src: url("/assets/fonts/TiemposHeadlineWeb-Light.eot") format('eot'),
//          url("/assets/fonts/TiemposHeadlineWeb-Light.woff2") format('woff2'),
//          url("/assets/fonts/TiemposHeadlineWeb-Light.woff") format('woff');
//     font-weight: 100;
// }

body {
    font-family: $font-family;
    color: $font-color-light;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font-title-family;
    color: $font-color;
    text-align: left;

    &.light, .dark &, .bg-primary & {
        color: white;
    }
}
h1 {
	// font-family: 'Montserrat', sans-serif;
    font-family: $font-family;
    font-size: 47px;
    // line-height: 1.064;
    line-height: 60px;
	font-weight: bold;
	font-style: normal;
    color: $font-color;

	@media screen and (max-width: 568px) {
		font-size: 32px;
        line-height: 44px;
	}
}

h2 {
	font-size: 96px;
    line-height: 106px;
    font-weight: 400;
    text-align: left;
    color: $font-color;

    padding-top: 16px;

    border-top: 2px solid $font-color;
    max-width: 395px;
    @media screen and (max-width: $breakpoint-mobile) {
        font-size: 48px;
        line-height: 110%;
    }
}

h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 130%;

    @media screen and (max-width: $breakpoint-mobile) {
        font-size: 42px;
        line-height: 100%;
    }
}

h4 {
    font-size: 48px;
    line-height: 110%;
    font-weight: normal;
    color: $font-color;
}

h5 {
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    line-height: 54px;
    margin: 20px 0;

    @media screen and (max-width: $breakpoint-mobile) {
        line-height: 115%;
    }
}

p {
    font-family: $font-family;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 0em;

    color: $font-color;
    text-align: left;

    &.light, .dark &, .bg-primary & {
        color: $font-color-light;
    }
}

ul {
    li { 
        // font-family: 'Montserrat', sans-serif;
        font-family: $font-family;
        font-size: 20px;
        line-height: 32px;
        font-weight: normal;
        color: $font-color;
    }
}
hr {
    border: none;
    height: 1px;
    width: 100%;
    /* Set the hr color */
    color: $font-color-light; /* old IE */
    background-color: $font-color-light; /* Modern Browsers */
}

#{$a-tags} {
    color: $font-color;
    text-decoration: none;
    font-weight: bold;
}
#{$a-tags-hover} {
    color: $font-color;
    text-decoration: none;
    font-weight: bold;
}

