<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="">
    <meta name="Description" content=""/>
    <!-- Open Graph data -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{mobileHeaderColor}}">
    <!-- Mobile header color Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{mobileHeaderColor}}">
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
</head>
<body page='<%= htmlWebpackPlugin.options.page %>'>
    <header><%= require('html-loader!./src/partials/nav.html') %></header>
    <main></main>
        <!-- Include footer partial -->
        <%= require('html-loader!./src/partials/footer.html') %>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101423651-2"></script> -->
<!-- <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-101423651-2');
</script> -->

</body>
</html>
