$content-width: 1440px;
$nav-height: 83px;
$nav-padding: 1.8vw;

$breakpoint-mobile-small: 375px;
$breakpoint-mobile: 575px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-laptop-large: 1200px;
$breakpoint-desktop: $content-width;

$content-padding-x: 6vw;
$content-padding-y: 5vw;
$content-padding-x-narrow: 4vw;
$content-padding-y-narrow: 4vw;
$content-padding-x-narrowest: 1vw;
$content-padding-y-narrowest: 1vw;

$content-padding-y-tall: 140px;

$theme: C;

$color-primary: #83274A;
$color-secondary: #333333;
$color-tertiary: #FAFAF2;
$color-quaternary: #537D8A;
// $color-quinary: #AFAFAF;

$color-gray-1: $color-secondary;
$color-gray-2: #4F4F4F;
$color-gray-3: #828282;

$color-gray-5: #E0E0E0;

$light-gray: #CCCCCC;
$lighter-gray: #EEEEEE;
$very-light-gray: #EFEFEF;
$font-family: 'Roboto', 'Arial', sans-serif;
$font-title-family: 'Castoro', serif;
$font-color: #333333;
$font-color-secondary: #4F4F4F;
$font-color-light: #E0E0E0;


$body-bg-color: #FAFAF2;
$header-bg-color: #FAFAF2;
$header-text-color: $color-primary;
$header-btn-background-color: #414A59;
$header-btn-text-color: white;

@if $theme == B {
	
} @else if $theme == C {
	
}

:root {
	
}
