@import 'modules/colors';
@import 'base';
// @import 'modules/utility';
// @import 'modules/animations';
@import 'modules/typography';
@import 'modules/buttons';
@import 'modules/forms';
@import 'vendor/hamburgers/hamburgers';

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: $font-family;
    text-align: center;
    font-weight: lighter;
}

a{
    color: inherit;
}

/**
 * Grid Definitions
 */
.content-container {
    display: grid;
    grid-template-columns: 
        [full-start] minmax(0em, 1fr) 
        [main-start] minmax(0, $content-width) [main-end]
        minmax(0em, 1fr) [full-end];
}

.canvas { /* alternative grid layout */
    grid-template-columns:
        [full-start]
          4vmin
            [wide-start]
                auto
                    [main-start]
                        1200px
                    [main-end]
                auto
            [wide-end]
          4vmin
        [full-end]
    ;
}

.grid-container {
    grid-column: main;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 1em;
}

header {
    grid-column: span 3;
    grid-template-rows: 100px 1fr;

    nav {

    }
}

main {

}

footer {

}
