<footer class="content-container">
	<div class="content-container grid-container">
		<section class="left">
			<h5>Have additional questions?</h5>
			<ul>
				<li><a href="mailto:hello@p5dg.com">hello@p5dg.com</a></li>
			</ul>
		</section>
		<section class="right">
			<h5>Legal</h5>
			<ul>
				<li><a href="/terms.html">Terms and Conditions</a></li>
				<li><a href="/privacy-policy.html">Privacy</a></li>
				<li><a href="/privacy-policy.html">Cookies</a></li>
			</ul>
		</section>
	</div>
</footer>